[submit]
	action = cherry pick
[project]
	description = The Go Programming Language
[submit-requirement "Code-Review"]
        description = At least one maximum vote for label 'Code-Review' is required. Self review is not allowed except for changes to dev.go2go by owners.
        submittableIf = -label:Code-Review=MIN AND (label:Code-Review=MAX OR (label:Code-Review=MAX,user=non_uploader AND (uploader:5210 OR uploader:5206) AND (branch:\"refs/heads/dev.go2go\" OR branch:\"refs/heads/dev.go2go\")))
